.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.indexPage{
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}
.indexTitle{
  font-size: 32px;
}
.fakeTable p span{
  width: 200px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  
}
.fakeTable .table_tt{
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.fakeTable .table_tt span{
  font-weight: 500;
}
